<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    </head>
    <body>
        <div class="container-fluid" th:insert="~{layout/navbar.html}">
        </div>
        <div class="col-9 mt-3">
            <div layout:fragment="mainContent">
            </div>
        </div>
        </div>

        </div>


    </body>
    <script type="text/javascript" th:src="@{'/js/jquery-3.5.1.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/bootstrap.min.js'}"></script>
</html>