<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_frame.html">
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-6 mx-auto">
            <form th:action="@{'/addtask'}" method="post">
                <div class="form-group">
                    <label th:text="#{addlabel.name}">
                    </label>
                    <input type="text" name="name" class="form-control" th:placeholder="#{placeholder.name}">
                </div>
                <div class="form-group">
                    <label th:text="#{addlabel.description}">
                    </label>
                    <input type="text" name="description" class="form-control" th:placeholder="#{placeholder.description}">
                </div>
                <div class="form-group">
                    <label th:text="#{addlabel.deadline}">
                    </label>
                    <input type="date" name="deadline" class="form-control">
                </div>
<!--                <div class="form-group">-->
<!--                    <label>-->
<!--                        Completion status :-->
<!--                    </label>-->
<!--                    <input type="text" name="status" class="form-control" placeholder="Yes/No">-->
<!--                </div>-->
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{addbutton.add}"></button>
                    <a href="/" class="btn btn-success"th:text="#{addbutton.back}"></a>
                </div>
            </form>
        </div>
    </div>
</div>
</html>