<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_frame.html">
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-6 mx-auto">
            <form th:action="@{'/savetask'}" method="post">
                <input type="hidden" name="id" th:value="${task!=null?task.id:null}">
                <div class="form-group">
                    <label th:text="#{addlabel.name}">
                    </label>
                    <input type="text" name="name" class="form-control" placeholder="Task name" th:value="${task!=null?task.name:''}">
                </div>
                <div class="form-group">
                    <label th:text="#{addlabel.description}">
                    </label>
                    <input type="text" name="description" class="form-control" placeholder="Task name" th:value="${task!=null?task.name:''}">
                </div>
                <div class="form-group">
                    <label th:text="#{addlabel.deadline}">
                    </label>
                    <input type="date" name="deadline" class="form-control"  th:value="${task.deadline}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.completed}">
                    </label>
                    <select name="is_completed" class="form-control">
                        <option th:selected="${task!=null&&task.isCompleted()}" value="true">YES</option>
                        <option th:selected="${task!=null&&!task.isCompleted()}" value="false">NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{detailsave.button}"></button>
                    <button type="button"th:text="#{detaildelete.button}" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">
                    </button>

                </div>
            </form>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/deletetask'}" method="post">
                            <input type="hidden" name="id" th:value="${task!=null?task.id:null}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">DELETE FOOD</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                <button  class="btn btn-danger">YES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>