<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_frame.html">
<div layout:fragment="mainContent">
    <div class= "container-fluid mt-5 ml-5">
        <a th:href="@{'/addtaskpage'}" class="btn btn-primary btn-lg" th:text="#{button.addTask}"></a>
    </div>
    <div class="row">
        <div class="col-12 ml-5 mt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th th:text="#{label.name}"></th>
                    <th th:text="#{label.deadline}"></th>
                    <th th:text="#{label.completed}"></th>

                    <th width="10%" th:text="#{label.detail}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task:${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.deadline}"></td>
                    <td th:text="${task.isCompleted()?'YES':'NO'}"></td>
<!--                    <td th:text="${task.description}"></td>-->
                    <td><a th:href="@{'/detail/'+${task.id}}" class="btn btn-success" th:text="#{label.detail}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>